.wrapper {
    @apply min-h-screen;
    @apply items-center;
    @apply flex;
    @apply flex-col;
    @apply py-24;
    min-height: 100vh;
    width: 100%;
    position: absolute;
    background: linear-gradient(45deg,#06080a, #081e26, #09151b , #081e26);
    background-size: 700% 100%;
    background-position: 0%;
    color: rgb(250, 235, 235);
}

.content {
    @apply text-sm;
    @apply md:text-base;
    max-width: 36rem;
    padding-top: 6rem;
    @apply md:p-0;
    @apply p-1;
}

.content section {
    @apply pt-1;
    @apply grid;
    @apply md:grid-cols-auto;
    @apply md:gap-0;
    @apply grid-rows-auto;
    @apply gap-4;
}

.content h2 {
    @apply font-serif;
    @apply italic;
    @apply text-slate-400;
    @apply font-medium;
}

.content code {
    font-family: 'Ubuntu Mono', monospace;
    @apply text-sm;
    @apply md:text-base;
}

.content pre {
    margin-top: 2rem;
    background-color: #09151b;
    box-shadow: 1px 1px 1rem rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    @apply p-0.5;
    @apply md:p-1;
}
